<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
	<title th:text="${title}">Document</title>
</head>
<body>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<img th:if="${#strings.length(client.img) > 0}" class="img-thumbnail rounded float-left" style="max-width: 25%;" th:src="@{'/uploads/' + ${client.img}}" alt="${client.img}">
				<ul class="list-group">
					<li class="list-group-item" th:text="${client.name}"></li>
					<li class="list-group-item" th:text="${client.lastName}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.createAt}"></li>
				</ul>
				<div th:if="${#lists.isEmpty(client.invoices)}" class="alert alert-info my-4" th:text="'No invoices for client ' + ${client.name} + ${client.lastName}"></div>
				<a th:href="@{'/invoice/form/' + ${client.id}}" class="btn btn-primary btn-xs mt-4">NEW INVOICE</a>
				<table th:if="${!#lists.isEmpty(client.invoices)}" class="table table-bordered table-stripped my-2">
					<thead class="thead-inverse">
						<tr>
							<th>INVOICE</th>
							<th>DESCRIPTION</th>
							<th>DATE</th>
							<th>TOTAL</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="invoice : ${client.invoices}">
							<td th:text="${invoice.id}"></td>
							<td th:text="${invoice.description}"></td>
							<td th:text="${invoice.date}"></td>
							<td th:text="${invoice.getTotalPrice()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
</body>
</html>